cloud_id         = "b1gugdsadasdvdk2t1741nm6dhp"
token            = "y0_AgAAAABl2asasddsa-iaAATuwQAAAADUb2GaZs_LDS0UQvigAk-UF4dhavf_xDg"
folder_id        = "b1g5bhhmkop"
zone             = "ru-central1-a"
image_id         = "fdmasdasdasdgfudautbbk62q5"
public_key_path  = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"
subnet_id        = "e9basdasdasdasr5m142hmv0lfip6rj"
#service_account_key_file = "key.json"
instances      = 1
app_disk_image = "fd8m01720s7bqv4qggfdgffgfgfgfgsm29"
db_disk_image  = "fd8r6easd8fl5dfasdnc705mjn"
access_key     = "ajetasde76lasdasd5asd1vkgpl7bolk"
secret_key     = "YCM2KnsasdasdDcqwuwozOZK44asdasA40o42zTFzUQx84qODYZ"
bucket_name    = "errormess"
