cloud_id         = "b1gugvdk2"
token            = "Ub2GaZs_LDS0UQvigAk-UF4dhavf_xDg"
folder_id        = "b1fr2843h67kop"
zone             = "ru-central1-a"
image_id         = "csmudautbbk62q5"
public_key_path  = "~/.ssh/ubuntu.pub"
private_key_path = "~/.ssh/ubuntu"
subnet_id        = "e9br5m142p6rj"
instances	 = 2
